img {
    margin-left: 25%;
}
h1{
    text-align: center;
}
h3 {
    color: black;
}
.presentazione {
    color: rgb(15, 15, 178)
}
.education {
    color: rgb(15, 15, 178)
}
.lavoro {
    color: rgb(15, 15, 178)
}
li {
    color: rgb(15, 15, 178)
}
